body{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

div{
    width:screen;
    height:100vh;
    background-color:black;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}

input{
    width:160px;
    height:15px;
    margin-bottom: 5px;
    font-weight: bold;
}

h1{
    color:white
}
h2{
    color:white
}